//Media queries
$h-mobile: 480px;
$tablet: 768px;
$desktop: 1040px;

//Colores
$light-purple: #9d4edd;
$purple: #5a189a;
$dark-purple: #240046;
$light-orange: #ff9e00;
$orange: #ff8500;
$dark-orange: #ff6d00;
$black: #353535;
$white: #f2f2f2;
$transparent: transparent;

//Separacion
$separacion: 2rem;

//Fuente
$main-font: 'Montserrat', sans-serif;