@use '../base/var' as v;

.filter{
    width: 100%;
    display: flex;
    justify-content: end;
}
.filter__priceRange{
    display: flex;
    flex-direction: column;
    width: 20rem;
    border: 1px solid;
    text-align: right;
    padding: 1rem;
}