@use '../base/var' as v;

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: v.$separacion;
    position: relative;
    background-color: rgb(10, 30, 212);

    .header__h1 {
        width: 25rem;
        position: absolute;
        left: 50%;
        margin-left: -12.5rem;
        display: flex;
        justify-content: center;
        z-index: 1;
        color: rgb(234, 233, 236);
    }
}
