@use '../base/var' as v;
.header {
  background-color: v.$purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .header__link{
    color: v.$white;
    &:hover span{
      color: v.$light-orange;
    }
    .header__span{
      color: v.$dark-orange;
    }
  }
}


