@use '../base/var' as v;
.navbar {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: inherit;
    align-items: center;
    padding: 1rem;
    border-radius: 100%;
}

.navbar__hidden {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: v.$purple;
    

    .horizontal-list {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        top: 30px;
      }
    
    .link {
        color: #f3e9e9 !important;
        text-decoration: none;
        margin: 0.5rem 0;
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    .closeButton {
            position: absolute;
            right: 5px;
            top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            cursor: pointer;
            width: 20px;
            height: 20px;
            background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
            border-radius: 30px;
            border: 1px solid #8F9092;
            transition: all 2s ease;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 14px;
            font-weight: 600;
            color: #606060;
            text-shadow: 0 1px #fff;
          
    }
          
          
}